/** Edit Messages **/
#em-content-container {
    position: relative;   
    background-color: white; 
    padding: 20px;
    width: 100%;
}
#edit-messages-note {
    position: relative;
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    background-color: #e6f7ff;
    border: 1px solid #b3d9ff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
#edit-messages-note h1{
    font-size: 28px;
    color: #007acc;
    margin-bottom: 20px;
    text-align: center;
}
#edit-messages-note p, li{
    font-size: 18px;
    color: #333333;
    text-align: center;
    line-height: 1.6;
    font-style: italic;
}