/** Left Pane **/
#left-pane{
  float: left;
  width: 15%;
  height: 100vh;
  min-height: 100vh;
  background-color: #d6d7db;
  text-align: left;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
}
#left-pane.off-screen {
  transform: translateX(-100%);
}
#left-pane a {
  text-decoration: none;
  color: #000;
}
#left-pane p{
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  word-wrap: break-word; 
  word-break: break-word;
  overflow-wrap: break-word;
}
#left-pane p:hover {
  color: #000;
  background-color: #e4e6e7;
}
#left-pane p.active {
  color: #000;
  font-weight: 600;
  background-color: #f5f6fa;
}

@media (max-width: 500px) {
  #left-pane {
    min-width: 30%;
  }
}