#sub-menu {
  float: left;
  width: 15%;
  height: 100vh; 
  min-height: 100vh;
  background-color: #d6d7db;
  text-align: left;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-200%);
}
#sub-menu.on-screen {
  transform: translateX(-100%);
}
#sub-menu p{
  cursor: pointer;
  word-wrap: break-word; 
  word-break: break-word;
  overflow-wrap: break-word;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 20px;
  margin: 0;
  font-size: 1.2em;
}
#sub-menu p:hover{
  color: #000;
  background-color: #e4e6e7;
}
#sub-menu p.active {
  color: #000;
  font-weight: 600;
  background-color: #f5f6fa;
}

@media (max-width: 500px) {
  #sub-menu {
    min-width: 30%;
  }
}