html, body {
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom,  #ffffff 76%, #38acf5 100%);
  padding-top: 100px; /* Add space at the top */
  box-sizing: border-box; /* Ensure padding doesn't affect height */ 
}
.login-container > p {
  margin-top: auto; /* Push the footer to the bottom */
  margin-bottom: 10px;
  font-size: 10px;
  color: #000;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px; 
  background-color: white; 
  border-radius: 8px; 
  box-shadow: 0px 0px 12px #cfcdcd; 
}

.login-logo {
  width: 100%; /* Make the logo the same width as the login container */
  margin-bottom: 20px;
}

#login-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#login-form div label {
  margin-bottom: 5px;
}

#login-button {
  padding: 10px;
  background-color: #e5e5e6;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
#login-button:hover {
  background-color: #c6c6c7; 
}
