#documents-container {
    position: relative;   
    background-color: white; 
    padding: 20px;
    width: 100%;
}

#documents-note {
    position: relative;
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    background-color: #f5f5dc;
    border: 1px solid #d3d3d3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#documents-note h1 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

#documents-note p {
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    line-height: 1.6;
}